/* @import url("https://fonts.googleapis.com/css2?family=Benne&family=Raleway:wght@300;400;500;700&display=swap"); */
:root {
  --theme-color: #2c3e50;
  --theme-color-hover: #485460;
  --secondary-color: #d35400;
  --third-color: #2980b9;
  --white-color: #f5f6fa;
  --black-color: #1e272e;
  --gray-color: #d1ccc0;
  --theme-fonts: "Raleway", sans-serif;
  --theme-heading: "Benne", serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--theme-color);
  padding: 0px 30px;
  min-height: 70px;
}
nav .branding {
  font-size: 1.5rem;
  text-transform: capitalize;
  font-family: var(--theme-heading);
  font-weight: 500;
  color: var(--white-color);
}
nav .branding span {
  text-transform: capitalize;
  color: var(--secondary-color);
}
nav .nav-menu {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 40%;
}

nav .nav-options {
  position: relative;
  font-family: var(--theme-heading);
  font-size: 1.2rem;
  color: var(--white-color);
  font-weight: 700;
  text-transform: capitalize;
  transition: all 0.3s;
  cursor: pointer;
  padding: 3px 16px;
  border-radius: 15px;
}
nav .nav-options:hover {
  background-color: var(--theme-color-hover);
}
nav .nav-options:hover .nav-subMenu {
  transform: scaleY(1);
}

nav .nav-subMenu {
  z-index: 15;
  color: var(--white-color);
  list-style: none;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: var(--theme-color);
  border-radius: 5px;
  left: 0;
  overflow: hidden;
  transform-origin: top;
  transition: 0.2s;
  transform: scaleY(0);
}
nav .nav-subOptions {
  transition: 0.3s;
  transform-origin: top;
  display: block;
  width: 100%;
  font-size: 0.8rem;
  padding: 5px 20px;
  position: relative;
  border-bottom: 1px solid var(--white-color);
}

nav .nav-subOptions:hover {
  cursor: pointer;
  transform: translateX(15px);
  background-color: var(--secondary-color);
}
nav .nav-options:hover ul.mega-menu {
  display: grid;
  opacity: 1;
}
ul.mega-menu {
  position: absolute;
  left: -61vw;
  top: 33px;
  width: 90vw;
  display: none;
  opacity: 0;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
  list-style: none;
  background-color: var(--gray-color);
  border-radius: 20px;
  z-index: 20;
}
ul.mega-menu .part {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 10px;
  position: relative;
}

ul.mega-menu .part::before {
  content: "";
  position: absolute;
  left: 0;
  top: 30%;
  height: 70%;
  width: 2px;
  background-color: var(--theme-color);
}
ul.mega-menu .part:first-child:before {
  height: 0px;
}
ul.mega-menu .part .mega-menu-img {
  width: 90%;
}
ul.mega-menu .mega-menu-option {
  font-size: 1rem;
  padding: 5px 10px;
  transition: 0.3s;
  text-transform: capitalize;
  position: relative;
}
ul.mega-menu .mega-menu-option:hover {
  transform: translateX(15px);
}
ul.mega-menu .mega-menu-option:hover a {
  color: var(--secondary-color);
  font-weight: 900;
}
ul.mega-menu .mega-menu-option:hover::before {
  width: 100%;
}
ul.mega-menu .mega-menu-option.title:hover::before {
  width: 0px;
}
ul.mega-menu .mega-menu-option.title:hover {
  transform: translateX(0);
}
ul.mega-menu .mega-menu-option::before {
  transition: 0.5s;
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 3px;
  background-color: var(--third-color);
}
ul.mega-menu .mega-menu-option a {
  text-decoration: none;
  color: var(--black-color);
}
ul.mega-menu .mega-menu-option.title {
  color: var(--black-color) !important;
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 10px;
  align-items: center;
}
#gallery {
  margin: 20px 0;
  position: relative;
}
#gallery h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 2.5rem;
}
#gallery > .gallery-container {
  padding: 25px;
  display: grid;
  width: 100%;
  height: 70vh;
  min-height: 300px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 10px;
}
#gallery .image {
  overflow: hidden;
  min-height: 200px;
  max-height: 300px;
  width: 100%;
  overflow: hidden;
  transition: 0.3s;
  filter: grayscale(1);
}
#gallery .image img {
  width: 100%;
}
#gallery .image:hover {
  cursor: pointer;
  filter: grayscale(0);
  transform: scale(1.1);
  z-index: 3;
}
#masonary-image {
  position: relative;
  margin-top: 150px;
}
.masonary-container {
  columns: 4;
  column-gap: 16px;
}
.masonary-img {
  display: inline-block;
  position: relative;
  margin-bottom: 5px;
  transition: 0.3s;
}
.masonary-img img {
  border-radius: 15px;
  width: 100%;
}
.masonary-img ~ {
  transform: scale(1.5);
}
.masonary-img:hover {
  cursor: pointer;
  z-index: 10;
  /* transform: scale(1.1); */
}
/* ====================================================Form============================================= */
#form {
  min-height: 70vh;
  margin-top: 30px;
  position: relative;
}

#form .form-container {
  width: 60rem;
  display: flex;
  margin: auto;
}

.form-container .form-svg {
  width: 40%;
}
.form-container .form-svg img {
  width: 100%;
}

.form-container .main-form {
  width: 50%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.form-container .main-form .form-top {
  display: flex;
  justify-content: space-between;
}

.form-container .main-form .form-top .form-title {
  font-size: 1.6rem;
  font-weight: bold;
  position: relative;
}
.form-container .main-form .form-top .form-title::after {
  content: "";
  width: 100%;
  height: 5px;
  background-color: #2980b9;
  border-radius: 3px;
  position: absolute;
  left: 0;
  bottom: -5px;
}
.form-container .main-form .form-top .form-language {
  min-height: 50px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 20%;
}
.form-container .main-form .form-top .form-language li button {
  outline: none;
  border: none;
  background-color: var(--gray-color);
  color: var(--white-color);
  border-radius: 50%;
  padding: 8px;
  text-transform: capitalize;
  cursor: pointer;
  transition: 0.5s;
}
.form-container .main-form .form-top .form-language li button.active {
  background-color: var(--theme-color);
}

.form-container .main-form .form-area {
  margin-top: 50px;
  display: grid;
  grid-gap: 5px;
  grid-template-areas:
    "name role"
    "email phone"
    "country  city"
    "password  confirm-password"
    "gender gender";
}
.form-container .main-form .form-area .input-box:not(.input-box.gender) {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-container .main-form .form-area .input-box label {
  font-size: 1.2rem;
  font-weight: blod;
  text-transform: capitalize;
  margin-bottom: 5px;
}

.form-container .main-form .form-area .input-box input {
  border: none;
  outline: none;
  padding-bottom: 7px;
  position: relative;
  border-bottom: 2px solid #d35400;
}

.name {
  grid-area: name;
}
.role {
  grid-area: role;
}
.email {
  grid-area: email;
}
.phone {
  grid-area: phone;
}
.country {
  grid-area: country;
}
.city {
  grid-area: city;
}
.password {
  grid-area: password;
}
.confirm-password {
  grid-area: confirm-password;
}
.gender {
  grid-area: gender;
  display: flex;
  flex-direction: column;
}
.gender-inputs {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.form-submit {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.form-submit > button {
  display: block;
  width: 100%;
  margin: auto;
  padding: 5px 0;
  background-color: #2980b9;
  color: white;
  border-radius: 30px;
  outline: none;
  border: none;
  font-size: 1.3rem;
  cursor: pointer;
  transition: 0.3s;
}
.form-submit > button:hover {
  background-color: #144e75;
}
.form-submit > span {
  margin-top: 20px;
  font-size: 0.8rem;
  color: #b3b3b3;
}
