@import url("https://fonts.googleapis.com/css2?family=Benne&family=Raleway:wght@300;400;500;700&display=swap");
:root {
  --theme-color: #34495e;
  --secondary-color: #d35400;
  --third-color: #2980b9;
  --white-color: #f5f6fa;
  --black-color: #1e272e;
  --gray-color: #d1ccc0;
  --theme-fonts: "Raleway", sans-serif;
  --theme-heading: "Benne", serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--theme-color);
  padding: 0px 30px;
  min-height: 70px;
}
nav .branding {
  font-size: 1.5rem;
  text-transform: capitalize;
  font-family: var(--theme-heading);
  font-weight: 500;
  color: var(--white-color);
}
nav .branding span {
  text-transform: capitalize;
  color: var(--secondary-color);
}
nav .nav-menu {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 40%;
}

nav .nav-options {
  position: relative;
  font-family: var(--theme-heading);
  font-size: 1.2rem;
  color: var(--white-color);
  font-weight: 700;
  text-transform: capitalize;
  transition: all 0.3s;
  cursor: pointer;
}
nav .nav-options:hover {
  color: var(--secondary-color);
}
nav .nav-options:hover .nav-subMenu {
  transform: scaleY(1);
}

nav .nav-subMenu {
  color: var(--white-color);
  list-style: none;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: var(--theme-color);
  border-radius: 5px;
  left: 0;
  overflow: hidden;
  transform-origin: top;
  transition: 0.2s;
  transform: scaleY(0);
}
nav .nav-subOptions {
  transition: 0.3s;
  transform-origin: top;
  display: block;
  width: 100%;
  font-size: 0.8rem;
  padding: 5px 20px;
  position: relative;
  border-bottom: 1px solid var(--white-color);
}

nav .nav-subOptions:hover {
  cursor: pointer;
  transform: translateX(15px);
  background-color: var(--secondary-color);
}
nav .nav-options:hover ul.mega-menu {
  display: grid;
  opacity: 1;
}
ul.mega-menu {
  position: absolute;
  left: -61vw;
  top: 33px;
  width: 90vw;
  display: none;
  opacity: 0;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
  list-style: none;
  background-color: var(--gray-color);
  border-radius: 20px;
}
ul.mega-menu .part {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 10px;
  position: relative;
}

ul.mega-menu .part::before {
  content: "";
  position: absolute;
  left: 0;
  top: 30%;
  height: 70%;
  width: 2px;
  background-color: var(--theme-color);
}
ul.mega-menu .part:first-child:before {
  height: 0px;
}
ul.mega-menu .part .mega-menu-img {
  width: 90%;
}
ul.mega-menu .mega-menu-option {
  font-size: 1rem;
  padding: 5px 10px;
  transition: 0.3s;
  text-transform: capitalize;
  position: relative;
}
ul.mega-menu .mega-menu-option:hover {
  transform: translateX(15px);
}
ul.mega-menu .mega-menu-option:hover a {
  color: var(--secondary-color);
  font-weight: 900;
}
ul.mega-menu .mega-menu-option:hover::before {
  width: 100%;
}
ul.mega-menu .mega-menu-option.title:hover::before {
  width: 0px;
}
ul.mega-menu .mega-menu-option.title:hover {
  transform: translateX(0);
}
ul.mega-menu .mega-menu-option::before {
  transition: 0.5s;
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 3px;
  background-color: var(--third-color);
}
ul.mega-menu .mega-menu-option a {
  text-decoration: none;
  color: var(--black-color);
}
ul.mega-menu .mega-menu-option.title {
  color: var(--black-color) !important;
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 10px;
  align-items: center;
}
